body {
    margin: 0;
    background: #f1f8e9;
    font-family: "Monda";
    color: #1b5e20;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    max-width: 380px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

img {
  height: 200px;
  }

#brand-nav {
  font-weight: 500;
  font-size: 2.5em;
}
#title {
  color: #c6ff00;
}

#page-info {
  background-color: #b9f6ca;
  border: 1px solid #00e676;
  border-radius: 5px;
  font-family: "Muli";
  font-size: 2rem;
  line-height: 35px;
  color: #2e7d32;
  width: 100%;
  height: 15%;
  margin: 15px;
}

#add-plant-btn {
  background-color: #bcaaa4;
}

#submit-plant-btn {
  background-color: #bcaaa4;
  margin: 20px;
}
