
  <main class="container">
    <div class="row" id="page-info">
      <p class="center">Plant Talk allows you to identify and purchase plants near you!</p>
    </div>
<!-- SEARCH / SORT  -->
    <div class="row">
      <input type="search" ng-model="$ctrl.search" class="form-control input-sm search-form" placeholder="Search for plants...">
    </div>

    <div class="row">
      <div class="chip" ng-click="$ctrl.sortClassifieds('Price')">
        <a href="">Sort by Price</a>
      </div>

      <div class="chip" ng-click="$ctrl.sortClassifieds('Date')">
        <a href="">Sort by Date</a>
      </div>
    </div>

    <div class="row right">
      <a class="waves-effect waves-light btn-large" id="add-plant-btn" ng-click="$ctrl.toggleForm()">Add a Plant</a>
    </div>

    <!-- FORM TO POST A NEW CLASSIFIED AD  -->
    <div class="row">
      <form novalidate name="$ctrl.classifiedForm"  ng-if="$ctrl.formVisible" ng-submit="$ctrl.addClassified($ctrl.classifiedData.title, $ctrl.classifiedData.description, $ctrl.classifiedData.price, $ctrl.classifiedData.item_image)">
          <input type="text" name="title" ng-model="$ctrl.classifiedData.title"/>
          <label for="title">Plant Name</label>
          <input type="text" name="description" ng-model="$ctrl.classifiedData.description"/>
          <label for="description">Plant Description</label>
          <input type="text" name="price" ng-model="$ctrl.classifiedData.price"/>
          <label for="price">Plant Price</label>
          <input type="text" name="item_image" ng-model="$ctrl.classifiedData.item_image"/>
          <label for="item_image">Plant Image (URL)</label>

          <div class="row">
            <button type="submit" id="submit-plant-btn" class="waves-effect waves-light btn-large">Create Classified</button>
          </div>
      </form>
    </div>

  <!-- REPEAT OVER AND DISPLAY EACH CLASSIFIED AD  -->
  <div class="masonry">
    <div ng-repeat="classified in $ctrl.classifieds | orderBy: $ctrl.sort | filter: $ctrl.search">
        <div class="card item">
          <div class="card-image">
            <img ng-src="{{classified.item_image}}">
            <span id="title" class="card-title">{{classified.title}}</span>
          </div>
          <div class="card-content">
            <p>{{classified.description}}</p>
            <p>{{classified.price | currency}}</p>
          </div>
          <div class="card-action">
            <button class="waves-effect waves-teal btn-flat" ui-sref="edit({id: classified.id })">Edit | Delete Classified</button>
          </div>
        </div>
      </div>
    </div>
  </main>
